/* Rules tages */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* Rules classes */

.link {
  text-decoration: none;
}

.menu-list {
  display: flex;
}

.menu-list {
  list-style-type: none;
}

.header-container {
  display: flex;
}

.page-navigation {
  display: flex;
}

.accent-color {
  color: #fd9222;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}

.ingredients-list {
  display: flex;
}
